body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-image: url(../images/waves.jpeg);
    background-size:contain;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #ff0000

}

nav {
    display: grid;
    color: darkgray;
     align-content: center; 
}

nav ul {
    background:midnightblue;
    display: flex;
    justify-content: space-around;
}
  
nav ul li {
    display:inline-block;
}

nav ul li a {
    font-weight: bold;
    color: lightgray;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: heading;
    background-color: midnightblue;
    color:darkgray;
}

/* Defines the About Me section of the page  */
.about {
    grid-area: about;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 6px solid black;
    padding-right: 10px;
}

/* Changes the background when the user hovers over the about section  */
.about:hover {
    background-color: rgba(9, 9, 201, 0.4);
}

.about-text {
    grid-area: about-text;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.392);
    }

.bg-pic {
    position: relative;
    top: -50px;
    width: 100%;
}

/* Defines the Work Portfolio section of the page  */
.work {
    display: grid;
    grid-area: work;
    font-size: 50px;
    border-right: 6px solid black;
    padding-right: 10px;
}

.work p {
    align-self: center;
}

.work:hover {
    background-color: rgba(9, 9, 201, 0.4);
}

/* Make the pictures a little larger when the user hovers over input */
.make-larger:hover {
    transform: scale(1.03);
    border: 5px solid black;
    box-shadow: 10px 10px 10px rgba (0,0,0,0.5);
    z-index: 9999;
}

/* Define the picture width and height and fit */
.define-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Define the picture grid areas */
.ex1 {
    grid-area: ex1;
    border: 2px solid black;
    position: relative;
}

.ex2 {
    grid-area: ex2;
    border: 2px solid black;
    position: relative;
}

.ex3 {
    grid-area: ex3;
    border: 2px solid black;
    position: relative;
}

.ex4 {
    grid-area: ex4;
    border: 2px solid black;
    position: relative;
}

.ex5 {
    grid-area: ex5;
    border: 2px solid black;
    position: relative;
}

/* Define the position of the tags on the pictures  */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 50px;
    border: 5px solid black;
    background-color: rgb(255, 255, 255, .3);
    border-radius: 10px;
    padding: 7px;
}

/* Define the contact area of the page  */
/* Describe what to do when user hovers over image  */
.contact {
    grid-area: contact;
    font-size: 50px;
    border-right: 6px solid black;
    align-self: center;
    padding-right: 10px;
}

.contact:hover {
    background-color: rgba(41, 8, 8, 0.4);
}

.info {
    grid-area: info;
    display: grid;
    align-content: center;
}

.info section {
    display: grid;
    color: darkgray;
    align-content: center; 
}

.info section ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, .5);
}
  
.info section ul li {
    display:inline-block;
}

.info section ul li a {
    font-weight: bold;
    color: black;
}

.text-center {
    text-align: center;
    padding-top: 20px;
}

/* This is how the screen will be layed out for a mobile device by default  */
/* Relocate the text describing the section so it is centered  */
.grid-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    grid-template-areas: 
        "heading"
        "nav-bar"
        "about"
        "about-text"
        "work"
        "ex1"
        "ex2"
        "ex3"
        "ex4"
        "ex5"
        "contact"
        "info"
}
.title-align {
    text-align: center;
}

/* This is how the screen will be layed out for a tablet size   */
/* Relocate the text describing the section so it is centered  */
@media screen and (min-width: 768px) {
    .grid-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-template-areas: 
            "heading heading"
            "nav-bar nav-bar"
            "about about"
            "about-text about-text"
            "work work"
            "ex1 ex1"
            "ex2 ex3"
            "ex4 ex5"
            "contact contact"
            "info info"  
    }
    .title-align {
        text-align: center;
    }
}
/* This is how the screen will be layed out for a monitor   */
/* Relocate the text describing the section so it is centered  */
@media screen and (min-width: 1025px) {
    .grid-item {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        gap: 15px;
        grid-template-rows: auto auto 500px 500px 500px auto;
        grid-template-areas: 
            "heading heading heading"
            "about about-text about-text"
            "work ex1 ex1"
            "work ex2 ex3"
            "work ex4 ex5"
            "contact info info"
    }
    .title-align {
        text-align: right;
    }
}









